<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <th:block th:insert="~{fragments/default.html :: head}"></th:block>
    <title>Punchclock: Eintrag bearbeiten</title>
  </head>

  <body>
    <th:block th:insert="~{fragments/default.html :: header}"></th:block>
    <main>
      <h1>Eintrag bearbeiten</h1>
      <form action="#" th:action="@{/update/{id}(id=${entry.id})}" th:object="${entry}" method="post">
        <label for="description">Beschreibung</label>
        <textarea th:field="*{description}" id="description" placeholder="Beschreibung" />
        <label for="checkIn">Von</label>
        <input type="datetime-local" th:field="*{checkIn}" id="checkIn" />
        <label for="duration">Dauer</label>
        <input type="number" th:field="*{duration}" id="duration" />
        <div th:if="${#fields.hasErrors()}">
          <p th:each="err : ${#fields.allErrors()}" th:text="${err}" class="error" />
        </div>
        <button type="submit">Speichern</button>
      </form>
    </main>
    <th:block th:insert="~{fragments/default.html :: footer}"></th:block>
  </body>

</html>